@import '@/app/main';


.wrapper {
    position: relative;
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    text-decoration: none;
}

.icon {
    height: 100%;
    width: 100%;
}

.notification {
    position: absolute;
    font-size: 10px;
    right: -5px;
    top: -5px;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-weight: 700;
    display: none;
    align-items: center;
    justify-content: center;

    &.active {
        display: flex;
    }
}