@import '@/app/main';


.items {
    width: 100%;
    display: grid;
    grid-template-columns: [col-start] repeat(2, 1fr) [col-end];
    // grid-auto-rows: minmax(100px, auto);
    // gap: 20px;
    column-gap: 30px;
    row-gap: 40px;
}