@import '@/app/main';

* {
    color: black;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

li {
    list-style: none;
}