//colors
$graphite: #484848;
$grey: #A1A1A1;
$someGrey: #DEDEDE;
$lightGrey: #eaeaea;

//transparent
$lightGreyTransparent: rgba(189, 189, 189, 0.5);


//fonts
$smallFont: 12px;
$littleFont: 16px;
$commonFont: 20px;
$averageFont: 24px;
$middleFont: 32px;
$largeFont: 48px;

//z-indexex
$modal: 1000;

//rediuses
$standartBorderRadius: 5px;

//breakpoints
$desktop1520: 1520px;
$desktop1180: 1180px;
$desktop960: 960px;
$tablets740: 740px;
$phones480: 480px;

@import "./media.scss";