@import '@/app/main';

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 60px;
    border-bottom: 1px solid $lightGrey;
}

.logo {
    font-size: $averageFont;
    font-weight: 500;
    text-decoration: none;
}

.side {
    display: flex;
    align-items: center;
}