@import '@/app/main';

.wrapper {
    display: block;
    width: 0;
    overflow: hidden;
    transition: width .3s;
    // width: 250px;
    
    &.active {
        width: 250px;
        
    }

}

.container {
    padding-right: 30px;
    width: 250px;
    // flex: 1;

}

.filterBtn {
    all: unset;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    color: white;
    box-sizing: border-box;
    padding-bottom: 1px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: $smallFont;

    border: .5px solid $someGrey;

    
    margin-bottom: 10px;
    color: $someGrey;
    
    
    &.active {
        cursor: pointer;
        background-color: black;
        border: .5px solid black;
        color: white;
    }
}